#scroll-section-1{
    .desc{
        padding : 0 1rem;
        font-size: 1.2rem;
        color : #888;
        strong {
            float : left;
            margin-right : 0.2em;
            font-size: 3rem;
            color : rgba(29,29,31);
        }
    }
}